header {
    background-color: #C0D6DF;
    width: 100%;
    height: 110px;
    margin: auto;
    padding: 10px 10px 10px 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    /* margin-top: 10px; */
    /* border: 1px solid black; */
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.container-fluid {
    margin-top: 10px;
    padding: 10px;
    background-color: #DBE9EE;
    width: 97%;
    min-height: 200px;
    border-radius: 5px;
}

.container {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.about {
    font-size: 16px;
}

.rectangle-random {
    /* padding-left: 10px; */
    background-color: rgb(255, 136, 0);
    width: 100px;
    height: 60px;
    /* text-align: left; */
}

.mb-3 {
    width: 500px;
}

.form-control-color {
    width: 80px;
}

.btn-outline-primary {
    background-color: white;
}

.table-bordered {
    border: black;
    width: auto;
}

th.id {
    min-width: 70px;
}

th.name{
    min-width: 200px;
}

th.color {
    min-width: 180px;
}

th.delete {
    width: 100px
}

caption {
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

.custom-rect {
    background-color: black;
    /* margin: 20px; */
    width: 60px;
    height: 40px;
}

.table-details {
    margin-top: 10px;
    /* width: 300px; */
}

.col-attribute {
    width: 100px;
}
.col-value {
    width: 200px;
}

.form-label {
    margin-bottom: 0;
}

.btn-lg {
    margin-top: 20px;
}

.link-danger, .link-primary {
    background-color: white;
    border: none;
    text-decoration: underline;
}

